@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
    
    --primary: 0 112 243;
    --primary-foreground: 255 255 255;
    
    --neutral-50: 250 250 250;
    --neutral-100: 245 245 245;
    --neutral-200: 229 229 229;
    --neutral-300: 212 212 212;
    --neutral-400: 163 163 163;
    --neutral-500: 115 115 115;
    --neutral-600: 82 82 82;
    --neutral-700: 64 64 64;
    --neutral-800: 38 38 38;
    --neutral-900: 23 23 23;
    --neutral-950: 10 10 10;

    --muted: 245 245 245;
    --muted-foreground: 115 115 115;

    --card: 255 255 255;
    --card-foreground: 23 23 23;

    --border: 229 229 229;
    --ring: 212 212 212;
  }

  [data-theme="dark"] {
    --background: 23 23 23;
    --foreground: 250 250 250;
    
    --primary: 0 112 243;
    --primary-foreground: 255 255 255;
    
    --neutral-50: 10 10 10;
    --neutral-100: 23 23 23;
    --neutral-200: 38 38 38;
    --neutral-300: 64 64 64;
    --neutral-400: 82 82 82;
    --neutral-500: 115 115 115;
    --neutral-600: 163 163 163;
    --neutral-700: 212 212 212;
    --neutral-800: 229 229 229;
    --neutral-900: 245 245 245;
    --neutral-950: 250 250 250;

    --muted: 38 38 38;
    --muted-foreground: 163 163 163;

    --card: 38 38 38;
    --card-foreground: 250 250 250;

    --border: 64 64 64;
    --ring: 82 82 82;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
